[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "localLLM"]
	path = localLLM
	url = https://github.com/eddieyang211/localllm
	subdir = localLLM
